.app-input {

    input {
        display: block;
        width: 100%;
        border: none;
        border-radius: 0;
        background-color: transparent;

        &:focus,
        &:hover {
            outline: 0 none;
        }
    }
}
