<div class="list-item-creator">
    <div
        *ngIf="inited"
        class="list-item-creator__new-item"
    >
        <app-input
            [focused]="true"
            name="list-item"
            ngDefaultControl
            [(ngModel)]="value"
            placeholder="Enter name"
            class="list-item-creator__input"
        ></app-input>
        <app-button
            modifier="accept"
            (onClick)="addNewItem()"
        >ok</app-button>
        <app-button
            modifier="cancel"
            (onClick)="cancelNewItem()"
        >x</app-button>
    </div>
    <app-button
        *ngIf="!inited"
        modifier="accept"
        (click)="initNewItem()"
        class="margin-top--xs"
    >
        <span class="icon icon-plus"></span>
        <span class="margin-left--xxs">new list</span>
    </app-button>
</div>
