@import 'common';

:host {
    display: block;
}

.view-item-creator {
    text-align: center;

    &__editor {}

    &__header {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: 1rem;
        padding: 1rem;
        background-color: rgba($black, .05);
    }

    &__input {
        flex-grow: 1;
    }
}
