<div class="creator">
    <div
        *ngIf="inited"
        class="creator__new-item"
    >
        <app-input
            [focused]="true"
            name="list-item"
            ngDefaultControl
            [(ngModel)]="value"
            class="creator__input"
            placeholder="Enter name"
        ></app-input>
        <app-button
            modifier="accept"
            (onClick)="addNewItem()"
        >ok</app-button>
        <app-button
            modifier="cancel"
            (onClick)="cancelNewItem()"
        >x</app-button>
    </div>
    <button
        *ngIf="!inited"
        class="creator__init"
        (click)="initNewItem()"
    >Create new checklist</button>
</div>
