@import 'common';

.view-item {
    border-bottom: 1px solid rgba($black, .1);

    &__header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        padding: 1rem 1rem 1rem 3rem;
        position: relative;
    }

    &__checkbox {
        margin-left: -2rem;
    }

    &__caption {
        display: block;
        margin-left: 1rem;
        font-size: 1rem;
    }

    &__show {
        margin-left: auto;
    }

    &__body {
        padding: 1rem 1rem 1rem 4rem;
    }

    &--done {
        opacity: .5;
    }
}
