@import 'common';

.view-item {
    border-bottom: 1px solid rgba($black, .1);

    &__header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    &__caption {
        font-size: 1rem;
    }

    &__body {
        padding: 1rem;
    }
}
